<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cse225_android">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DateTimePickerExample"><intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter></activity>
        <activity
            android:name=".NotificationViewExample"
            android:label="@string/notification_activity" />
        <activity android:name=".NotificationExample">

        </activity>
        <activity android:name=".AlarmManagerExample" />
        <activity android:name=".CustomToastExample" />
        <activity android:name=".ProgressBarExample" />
        <activity android:name=".ToolBarExample" />
        <activity android:name=".RatingBarExample" />
        <activity android:name=".SplashScreenExample" />
        <activity android:name=".SplashScreenExampleMain" />
        <activity android:name=".ScrollViewHorizontalExample" />
        <activity android:name=".ScrollViewVerticalExample" />
        <activity android:name=".MainActivity" />

        <receiver android:name=".AlarmManagerBroadcast" />
    </application>

</manifest>